h1 {
    font-size: 5rem;
}

.main-container {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.presentation {
    font-size: 1.4rem;
    margin-left: 10rem; 
    margin-right: 10rem; 
}