.grid-elem-project-container {
  border-radius: 10px;
  flex: 0 0 calc(33.333% - 20px);
  max-width: 100%;
  box-sizing: border-box;
  margin: 10px;
  padding-bottom: 5px;
  transition: all .2s ease-in-out; 
  }

.grid-elem-project-container:hover {
  transform: scale(1.1);
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  background-color: white;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .grid-elem-project-container {
      flex-basis: calc(50% - 20px); 
    }
}

.chips-label {
  margin: 5px;
}

.description {
  word-break: break-all;
}

.grid-elem-img {
  max-width: 50%;
}

.grid-elem-project-title {
  font-weight: bold;
  font-size: 1.5rem;
}
