 .gridElemContainer {
  border: 1px solid;
  border-radius: 4px;   
  text-align: center;
  flex: 1 0 25%;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  flex-basis: 25%;
  transition: all .2s ease-in-out; 
  background-color:white;
 }

 @media screen (max-width: 768px) {
   .gridElemContainer {
      flex-basis: 33.33%; 
   } 
 }

 @media screen (max-width: 480px) {
  .gridElemContainer {
     flex-basis: 50%; 
  } 
}

 @media screen (max-width: 320px) {
  .gridElemContainer {
     flex-basis: 100%;
  } 
}



.gridElemContainer:hover {
  transform: scale(1.01);
  z-index: 1;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed
}

.gridElemLink {}