 .grid-elem-container {
   border: 1px solid;
   border-radius: 4px;   
   
  flex: 1 0 25%;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  flex-basis: 25%;
 }

 @media screen (max-width: 768px) {
   .grid-elem-container {
    /* 3 colonnes */
      flex-basis: 33.33%; 
   } 
 }

 @media screen (max-width: 480px) {
  .grid-elem-container {
    /* 2 colonnes */
     flex-basis: 50%; 
  } 
}

 @media screen (max-width: 320px) {
  .grid-elem-container {
    /* 1 colonnes */
     flex-basis: 100%;
  } 
}



.grid-elem-container:hover {
   background-color: #C0E5C8;
}