/* Navbar styles */
nav {
    border-bottom: 1px solid black;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
  }
  
ul {
    list-style-type: none; /* Remove bullet points from the list */
    display: flex;
    justify-content: space-evenly;
}
  
li {
    /* margin-right: 20px; */
}
  
  /* Style links */
.navlink {
    text-decoration: none;
    color: black; 
}

  
  
.icon {
}

.landing {
}

.navelem {
  flex-growth: 1;
  border-radius: 5px;
}

.navlink:hover {
  color: red;
}