/* Navbar styles */
.navbar {
    border-bottom: 1px solid black;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5vw;
  }

.navitems {
    list-style-type: none; /* Remove bullet points from the list */
    display: flex;
    justify-content: space-evenly;
}
  
.navlink {
    text-decoration: none;
    color: black; 
}
 
  
.icon {
}

.landing {
}

.navelem {
  flex-growth: 1;
  border-radius: 5px;
}

.navlink:hover {
  color: #C0E5C8;
}