/* Navbar styles */
.navbar {
    position: sticky;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5vw;
    top: 0;
    background: rgb(246,252,252);
    background: linear-gradient(90deg, rgba(246,252,252,1) 0%, rgba(28,173,179,0.8) 100%);

  }

.navitems {
    list-style-type: none; /* Remove bullet points from the list */
    display: flex;
    justify-content: space-evenly;
}
  
.navlink {
    text-decoration: none;
    color: black; 
}
 
  
.icon {
}

.landing {
}

.navelem {
  flex-growth: 1;
  border-radius: 5px;
}

.navlink:hover {
  color: red;
  text-shadow: 0 0 5px red;
}