.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.presentation {
    font-size: 1.2rem;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    margin-left: 20vw; 
    margin-right: 20vw;
    margin-top: 10vh;
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.profileImg {
    border-radius: 50%;
    with: 20%;
    height: auto;
    object-fit: cover;
}


@media only screen and (max-width: 600px) {
    .bodyContainer {
        margin-left: 5vw; 
        margin-right: 5vw;
    }  
} 

